@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 48% 98%;
    --foreground: 215 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 215 15% 20%;
    --muted: 215 30% 95%;
    --muted-foreground: 215 10% 46%;
    --border: 215 30% 90%;
    --input: 215 24% 84%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --muted: 222 47% 16%;
    --muted-foreground: 210 40% 80%;
    --border: 222 47% 26%;
    --input: 222 47% 30%;
  }

  body {
    @apply min-h-screen bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}

@layer utilities {
  .bg-background {
    background-color: hsl(var(--background));
  }

  .text-muted-foreground {
    color: hsl(var(--muted-foreground));
  }

  .bg-card {
    background-color: hsl(var(--card));
  }

  .bg-muted {
    background-color: hsl(var(--muted));
  }

  .border-border {
    border-color: hsl(var(--border));
  }

  .border-input {
    border-color: hsl(var(--input));
  }

  .divide-border > :not([hidden]) ~ :not([hidden]) {
    border-color: hsl(var(--border));
  }
}
